.wp-block{
  &[data-type="cydlwp/description-term"] {
    margin: 10px auto 0;

    &:first-child {
      margin-top: 0;
    }
  }
  &[data-type="cydlwp/description-detail"] {
    margin: 0 auto;
  }
}